.block {
    background-color: #F0F0F0;
    border-color: 1px #000;
    border-style: solid;
    border-radius: 35px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin-bottom: 20px;
    padding: 20px;
    width: auto;
    height: auto;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #FFA69E;
}

#profile,
#generalData {
    display: flex;
    align-items: center;
}

.name h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10;
}